/**
 * @file
 * Page header styling.
 */
#section-header {
  background-color: #A3D0EB;
  margin: 0;
  padding: 0.75em 0;
}

h1#site-name {
  font-size: 2em;
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  margin: 0;
  padding-top: 0.15em;
}

#site-name a {
  color: #333;
  text-decoration: none;
}

a.adray-home {
  background: url(../images/hfcc-adray-logo.png);
  background-size: 210px 105px;
  background-repeat: no-repeat;
  display: block;
  float: none;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 105px 0 0;
  width: 210px;
}

#name-and-slogan {
  text-align: center;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .header-container{
    max-width: 1008px;
  }
    #name-and-slogan {
    text-align: right;
  }

  a.adray-home {
    float: left;
    margin: 0;
  }

  h1#site-name {
    font-size: 2.7em;
    padding-top: 0.74em;
    padding-right: 0.214em;
  }

}
