/**
 * @file
 * Primary menu styling.
 */

/* Main Navigation */

#section-navigation {
  background-color: #F3F3F9;
  border: 1px solid #dbdbdb;
  margin-bottom: 0;
}

ul#main-menu {
  display: block;
  font-weight: bold;
  line-height: normal;
  text-align:center;
  margin: 0 auto;
  font-size: 1.1em;
  max-width: 100%;
}

ul#main-menu li {
  margin: 0 0.214em;
  padding: 0.81em 0.512em;
  display: block;
}

ul#main-menu li.active {
  background-color: #e2e2e8;
  color: #777;
}

ul#main-menu li a:hover{
  color: #333;
  text-decoration: none;
}

ul#main-menu li a,
ul#main-menu li.active a,
ul#main-menu li.active a:hover  {
  color: #777;
}

/*li alignment fix*/

#sidebar-first ul li,
#sidebar-second ul li,
#section-fatfooter ul li {
  display: block;
}

@media only screen and (min-width: 480px) {
  ul#main-menu > li {
    display: inline-block;
    text-align: center;
  }

  ul#main-menu {
    width: 86%;
  }

}
