/**
 * @file
 * Primary page styling.
 */

html {
  background: #FCFCFF;
}

body {
  background: #FCFCFF;
  color: #222;
}

#page {
  background: #FCFCFF;
  margin: 0;
}

#section-main,
.region-fatfooter,
.region-footer,
.region-navigation {
  margin: 0 auto;
  width: 88%;
  max-width: 1008px
}

/* Billboard region */

 #section-billboard {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  background-color: #e2e2e8;
  box-shadow: 0px 0px 10px -4px inset;
}

#billboard {
  padding: 1em 0 0.75em 0;
  margin: 0 auto;
  width: 100%;
}

#billboard img {
  margin: 0;
  padding: 1em 0;
}

#highlighted {
  background-color: #FFFF50;
  margin-bottom: 1.5em;
  padding: 0.5em 1em;
}

#highlighted h2 {
  color: #005daa;
  font-size: 2.65em;
  margin: 0 0 0.4em;
}

#highlighted p {
  color: #777;
  font-size: 1.4em;
  letter-spacing: 0;
  margin: 0 0 0.75em;
}

/** Styling for Alert bulletins. **/

.hfcc-bulletin {
  background-color: #FFFF50;
  padding: 0.5em 0.625em 0;
}

/* Main Region */

#main-inner {
  margin-top: 1em;
}

#content-inner {
  padding: 0 0 1.5em;
}

#breadcrumb {
  display: none;
}

/* Type */
#content-inner h1 { /* less awkward h1 node titles (more like h3) */
  color: #333;
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 0.8em;
}

#content-inner h3 { /* less prominent h3 */
  color: #333;
  font-size: 1.2em;
  margin: 0 0 .68em;
}

#content-inner h4 {
  color: #333;
  font-size: 1em;
  margin: 0 0 .68em;
}

/* Sidebars */

#sidebar-second,
#sidebar-first {
  background-color: #F3F3F9;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #F3F3F9;
  font-size: small;
  padding: 0 0 1em 0;
  text-align: center;
}

.region-sidebar-first,
.region-sidebar-second {
  padding: 0 0.512em 0.512em;
}

#sidebar-second h2,
#sidebar-first h2 {
  border-bottom: solid 1px #CCC;
  font-size: 1.5em;
  padding: 0 0.2em;
}

#sidebar-second p,
#sidebar-first p {
  padding: 0 0.2em;
}

#sidebar-second ul.menu,
#sidebar-first ul.menu {
  text-align: center;
}

/* Sponsor Sidebar */

#block-views-sponsors-block img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

#block-views-sponsors-block h5 {
    margin: 0 0 0.625em;
}

#block-views-sponsors-block .views-row {
    display: inline-block;
    max-width: 206px;
    vertical-align: top;
    padding: 5px;
    margin: 0;
}

/* Footer */

#section-footer {
  color: #777;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  padding: 1.875em 0;
  text-align: center;
  background: #F3F3F9;
}

.region-footer ul.menu {
  text-align: center;
}

.region-footer ul.menu li {
  display: inline;
}

#section-footer a {
  color: #777;
  line-height: 2em;
  text-decoration: none;
}

#section-footer a:hover {
  text-decoration: underline;
}

/* this seems silly. but its in the theme so leaving be */
.field-items li,
.field-items p,
.field-items ol {
  font-size: 1.04em;
}

#content-inner .field-name-body ol,
#content-inner .field-name-body ul {
  margin: 0 0 1.625em 2.441em; /* indents enough for 3 digit numbered lists */
}

#content-inner .field-name-body li ol,
#content-inner .field-name-body li ul {
  margin: 0 0 0 1.25em;
}

/* Lists */
.tabs ul { /* reset margin on admin tabs */
  margin-left: 0;
}


/* Views Listing */
.views-row + .views-row {
  margin-top: 1em;
}

@media only screen and (min-width: 480px) {

  #sidebar-second, #sidebar-first {
    margin: 0 auto 1em auto;
  }

}

@media only screen and (min-width: 768px) {

  #billboard {
      width: 88%;
      max-width: 1440px;
    }
  }

  .hfcc-bulletin {
    padding: 0.5em 1.25em 0;
  }

  #sidebar-second,
  #sidebar-first {
    text-align: left;
  }

  .sidebar-first #content-inner {
    padding: 0 0 1.5em 1.25em;
  }

  .sidebar-second #content-inner {
    padding: 0 1.25em 1.5em 0;
  }

  .two-sidebars #content-inner {
    padding: 0 1.25em 1.5em;
  }

  #sidebar-second ul.menu,
  #sidebar-first ul.menu {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {

  #page {
    margin: 0 auto;
    max-width: 100%;
  }

}
