/**
 * @file
 * Primary styling for nodes.
 */

 .node-unpublished {
  background: url(../images/draft-bg.png) no-repeat right top transparent;
}

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.328em 0 0;
}

.node .content .links a {
  background: #ffa;
    -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/* Format content blocks on landing pages. */

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.51216389244558%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #CCC;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

/* Format program sequence tables in program displays. */

.group-program-sequence thead > tr {
  padding: 0 0.6em;
}

.field-type-program-sequence {
  max-width: 1024px;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.25em;
}

.field-type-program-sequence .course-name {
  padding-right: 1em;
  white-space: nowrap;
  width: 10%;
}

.field-type-program-sequence .course-title {
  padding-right: 1em;
  width: 50%;
}

.field-type-program-sequence .course-prerequisites {
  width: 35%;
}

.field-type-program-sequence .hours {
  padding-left: 1em;
  text-align: right;
  width: 10%;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  font-weight: bold;
  padding: 0.25em 0;
  text-align: right;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

}

@media only screen and (min-width: 768px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }

}
