/**
 * @file
 * This file contains overrides for print media.
 */

* {
  background: transparent;
  color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* Hide these elements */

#toolbar,
#block-workbench-block,
#section-header,
#section-navigation,
#search-block-form,
#section-fatfooter,
#section-footer,
#footer-wrapper,
#stickyfooter,
#user-admin-account #edit-options,
.flag-wrapper,
.sidebar,
.breadcrumb,
.tabs,
.feed-icon
.links {
  display: none;
}

/**
 * Set typography for printing.
 */

body, button, caption, fieldset, input, legend, option, select, textarea, td, th {
  color: #222; /* Full black on white is too much contrast, #222 is a better default */
  font: 10pt Times New Roman, Times,serif;
  letter-spacing: normal;
  line-height: normal;
}

/* Headings - sizes are set in media query section below */
/* For info on transitioning, see http://elliotjaystocks.com/blog/css-transitions-media-queries */

h1, h2, h3, h4, h5, h6 {
  /*font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', FreeSerif, Georgia, serif;*/
  font-size: 1em;
  font-weight: bold;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

/* Font size = 10pt, line height = normal, interval = minor third (1:1.2) */
/* http://modularscale.com/scale/?px1=10&px2=&ra1=1.2&ra2=0 */

h1 {
  color: #000;
  font-size: 20pt;
  line-height: normal;
  margin: 0 0 1rem;
}

h2 {
  color: #000;
  font-size: 18pt;
  line-height: normal;
  margin: 0 0 1rem;
}

h3 {
  color: #000;
  font-size: 14pt;
  line-height: normal;
  margin: 0 0 1rem;
}

h4 {
  color: #000;
  font-size: 12pt;
  line-height: normal;
  margin: 0 0 1rem;
}

h5 {
  color: #000;
}

h6 {
  color: #000;
}

small {
  font-size: 8pt;
  line-height: normal;
  margin: 0 0 1rem;
}

/* Add and/or remove tags as your baseline grid needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
  margin: 0 0 1rem;
}

a, a:link, a:visited {
 color: #000;
 text-decoration: underline;
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
thead {
  display: table-header-group;
}

table, tbody, tr, img {
  page-break-inside: avoid;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}

.field-label {
  page-break-after: avoid;
}

/**
 * Override styling for various page elements.
 */

@page
{
    size: auto;   /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 0.5in 0.5in 0.5in 0.5in;
}

body {
  padding-top: 0 !important; /* overrides inline style set by toolbars, which we want to hide. */
}

#page {
  width: 100%;
}

.header-container, #section-main, .region-fatfooter, .region-footer, .region-billboard, .region-navigation {
  max-width: 100%; /* Override max width set for responsive design and let @page{} control this instead. */
}

#section-header {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

a.hfcc-home {
  background: url(../images/adray-logo-black.png) no-repeat -24px 0;
  display: block;
  float: left;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 72px 0 0;
  width: 250px;
}

#name-and-slogan {
  padding: 0;
  text-align: right;
}

h1#site-name {
  font-size: 24pt;
}

#content,
#content #content-inner,
.content,
.title {
  margin: 0 0 1.5rem;
  width: auto;
}


/* Formatting for Program Sequence */

.group-program-sequence {
  font-size: 9pt;
}

.group-program-sequence table {
  border-collapse: separate;
}

.group-program-sequence thead {
  display:table-header-group;
  page-break-after: avoid;
  page-break-inside: avoid;
}

.group-program-sequence tbody {
  page-break-before: avoid;
}

.group-program-sequence thead > tr, .group-program-sequence tr.even, .group-program-sequence tr.odd {
  padding: 0.1em 0;
}

.group-program-sequence th, .group-program-sequence td {
  padding: 0 0.5em 0 0;
}

.field-type-program-sequence {
  max-width: inherit;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  font-size: 10pt;
  font-weight: bold;
  padding: 0.25em 0;
}

.field-type-program-sequence .course-name {
  padding-right: 0.5em;
  white-space: nowrap;
}

.field-type-program-sequence .course-title {
  padding-right: 0.5em;
}

.field-type-program-sequence .course-prerequisites {
}

.field-type-program-sequence .hours {
  padding-left: 0.5em;
  text-align: right;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  font-weight: bold;
  padding: 0;
  text-align: right;
}
